In [2]:
import pandas as pd

In [18]:
df1 = pd.read_excel("E:/Notes/DataScience/Pandas/SampleSuperstore.xlsx", sheet_name = "Orders")

C:\tools\Anaconda3\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [20]:
df2 = pd.read_excel("E:/Notes/DataScience/Pandas/SampleSuperstore.xlsx", sheet_name = "Returns")

C:\tools\Anaconda3\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [21]:
print(df1.head())

   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2018-152156 2018-11-08 2018-11-11    Second Class    CG-12520
1       2  CA-2018-152156 2018-11-08 2018-11-11    Second Class    CG-12520
2       3  CA-2018-138688 2018-06-12 2018-06-16    Second Class    DV-13045
3       4  US-2017-108966 2017-10-11 2017-10-18  Standard Class    SO-20335
4       5  US-2017-108966 2017-10-11 2017-10-18  Standard Class    SO-20335

     Customer Name    Segment Country/Region             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0     42420.0   South  FUR-BO-10001798        Furniture    Bookcases
1     42420.0   South  FUR-CH-10000454        Furniture       Chairs
2     90036.0    West  OFF-LA-10000240  Office Supplies       Labels
3     33311.0   South  FUR-TA-10000577        Furniture       Tables
4     33311.0   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

In [23]:
print(df2.head())

  Returned        Order ID
0      Yes  CA-2016-100762
1      Yes  CA-2016-100762
2      Yes  CA-2016-100762
3      Yes  CA-2016-100762
4      Yes  CA-2016-100867

In [55]:
g = pd.merge(df1, df2, on = "Order ID", how = "left")
g.set_index("Row ID" , inplace = True)

In [47]:
l = g.columns

In [56]:
l

Index(['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Segment', 'Country/Region', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit', 'Returned'],
      dtype='object')

In [58]:
g

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,State,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Returned
Row ID,,,,,,,,,,,,,,,,,,,,,
1,CA-2018-152156,2018-11-08,2018-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,NaN
2,CA-2018-152156,2018-11-08,2018-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,NaN
3,CA-2018-138688,2018-06-12,2018-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,NaN
4,US-2017-108966,2017-10-11,2017-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,NaN
5,US-2017-108966,2017-10-11,2017-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,CA-2019-121258,2019-02-26,2019-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,...,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932,Yes
9993,CA-2019-121258,2019-02-26,2019-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,...,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200,Yes
9993,CA-2019-121258,2019-02-26,2019-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,...,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200,Yes
9993,CA-2019-121258,2019-02-26,2019-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,...,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200,Yes
9994,CA-2019-119914,2019-05-04,2019-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,...,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480,NaN

In [59]:
# Assignment

In [88]:
abbre = pd.read_csv('https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-abbrevs.csv')
areas= pd.read_csv('https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-areas.csv')
pop = pd.read_csv('https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-population.csv')

In [69]:
print(f"{abbre.head()}\n {abbre.info()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         51 non-null     object
 1   abbreviation  51 non-null     object
dtypes: object(2)
memory usage: 948.0+ bytes
        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA
 None

In [87]:
print(f"{areas.head()}\n {areas.info()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   state          52 non-null     object
 1   area (sq. mi)  52 non-null     int64
dtypes: int64(1), object(1)
memory usage: 964.0+ bytes
        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707
 None

In [89]:

pop.rename(columns={"state/region" : "abbreviation"} , inplace=True)
print(f"{pop.head()}\n {pop.info()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   abbreviation  2544 non-null   object
 1   ages          2544 non-null   object
 2   year          2544 non-null   int64
 3   population    2524 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 79.6+ KB
  abbreviation     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0
 None

In [91]:
df1 = pd.merge(abbre, areas, on = "state")
df1

                   state abbreviation  area (sq. mi)
0                Alabama           AL          52423
1                 Alaska           AK         656425
2                Arizona           AZ         114006
3               Arkansas           AR          53182
4             California           CA         163707
5               Colorado           CO         104100
6            Connecticut           CT           5544
7               Delaware           DE           1954
8   District of Columbia           DC             68
9                Florida           FL          65758
10               Georgia           GA          59441
11                Hawaii           HI          10932
12                 Idaho           ID          83574
13              Illinois           IL          57918
14               Indiana           IN          36420
15                  Iowa           IA          56276
16                Kansas           KS          82282
17              Kentucky           KY          40411
18             Louisiana           LA          51843
19                 Maine           ME          35387
20               Montana           MT         147046
21              Nebraska           NE          77358
22                Nevada           NV         110567
23         New Hampshire           NH           9351
24            New Jersey           NJ           8722
25            New Mexico           NM         121593
26              New York           NY          54475
27        North Carolina           NC          53821
28          North Dakota           ND          70704
29                  Ohio           OH          44828
30              Oklahoma           OK          69903
31                Oregon           OR          98386
32              Maryland           MD          12407
33         Massachusetts           MA          10555
34              Michigan           MI          96810
35             Minnesota           MN          86943
36           Mississippi           MS          48434
37              Missouri           MO          69709
38          Pennsylvania           PA          46058
39          Rhode Island           RI           1545
40        South Carolina           SC          32007
41          South Dakota           SD          77121
42             Tennessee           TN          42146
43                 Texas           TX         268601
44                  Utah           UT          84904
45               Vermont           VT           9615
46              Virginia           VA          42769
47            Washington           WA          71303
48         West Virginia           WV          24231
49             Wisconsin           WI          65503
50               Wyoming           WY          97818